{% extends 'abstract.html' %}
{% load static %}
{% load markdown_deux_tags %}

{% block post_content %}
    <div class="blog-post">

    </div>
{% endblock %}

{% block sidebar_left %}
    <h4>All tutorial series</h4>
    <ul class="list-unstyled">
        {% for s in series %}
            <li class="sidebar-title"><a href="#">{{ s.title }}</a></li>
        {% endfor %}
    </ul>
    <h4>Most popular posts</h4>
    <ul class="list-unstyled">
        {% for p in popular %}
            <li class="sidebar-title"><a href="{% url 'blog:detail' p.id %}">{{ p.title|truncatechars:"60" }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
