{% extends 'abstract.html' %}
{% load static %}
{% load markdown_deux_tags %}

{% block titlebar %}
    {{ post.title }} - {{ block.super }}
{% endblock %}

{% block post_content %}
    <div class="blog-post">
        <h2 class="blog-post-title">{{ post.title }}</h2> <hr class="thr">
        <p class="blog-post-meta"><span class="glyphicon glyphicon-calendar" aria-hidden="true" style="color: #555;"></span>
        {{ post.timestamp.date }}
            {% if post.series %} <span style="color: #555;">@</span>
        <a href="{% url 'blog:series' post.series.url %}"> {{ post.series }} </a>{% endif %}
        <i class="fa fa-eye" aria-hidden="true" style="color: #555; padding-left: 5px;"></i> {{ post.views }} views
        <i class="fa fa-comments-o" aria-hidden="true" style="color: #555; padding: 0 5px 0 5px;"></i><fb:comments-count href="{{request.build_absolute_uri}}"></fb:comments-count> comments</p>
        {{ post.content|markdown }}
    </div>
{% endblock %}

{% block comment_section %}
    <div class="fb-comments" data-width="" data-href="{{request.build_absolute_uri}}"></div>
{% endblock %}

{% block sidebar_left %}
    <h4>Most popular posts</h4>
    <ul class="list-unstyled">
        {% for p in popular %}
            <li class="sidebar-title"><a href="{% url 'blog:detail' p.id %}">{{ p.title|truncatechars:"60" }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}